<html lang="en">
  <head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
  
  <div class="container center">
    <h2>ajouter virement</h2>
    <br><br>
    <form >
      <div class="form-group">
        <label for="RIB">RIB destinataire</label>
        <input type="RIB" class="form-control" id="email" placeholder="Entrer RIB" name="email">
      </div>
      <div class="form-group">
        <label for="pwd">Somme</label>
        <input type="password" class="form-control" id="pwd" placeholder="Entrer SOMME" name="pwd">
      </div>
      <div class="form-group">
        <label for="pwd">Libelle</label>
        <input type="password" class="form-control" id="pwd" placeholder="Entrer Libelle" name="pwd">
      </div>
     
      <button type="submit" class="btn btn-default">ajouter</button>
    </form>
    <br> <br>
  </div>
  <a (click)="back()">precedent</a>
  </body>
  </html>